@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,400;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

h2{
    text-align: center;
}

h4{
    font-size: 1.5rem;
}

body{
    width: 70%;
    margin: 4rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.3rem;
    background-color: rgba(240, 240, 240, 0.548);
    font-family: 'Montserrat', sans-serif;
}

.result_container{
    display: flex;
    flex-direction: column;
}

.today{
    width: 80%;
    margin-bottom: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
    text-transform: capitalize;
}

.today span{
    align-items: center;
}

.weeks {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.weeks::before{
    content: '';
    width: 400px;
    height: .1rem;
    background-color: rgb(139, 139, 139);
    margin-bottom: 2rem;
}

.cloudy{
    width: 10rem;
    height: 10rem;
    background-image: url(img/cloudy.png);
    background-repeat: no-repeat;
}

.rain{
    width: 9rem;
    height: 9rem;
    background-image: url(img/rain.png);
    background-repeat: no-repeat;
}

.overcast{
    width: 10rem;
    height: 10rem;
    background-image: url(img/overcastday.png);
    background-repeat: no-repeat;
}

.sunny{
    width: 10rem;
    height: 10rem;
    background-image: url(img/sunny.png);
    background-repeat: no-repeat;
}

.scattered{
    width: 10rem;
    height: 10rem;
    background-image: url(img/scatteredCloud.png);
    background-repeat: no-repeat;
}

#form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 4rem;
}

input[type="text"]{
    outline: none;
    padding: 1rem 5rem 1rem 2rem;
}

button{
    border: none;
    background-color: rgb(40, 156, 185);
    padding: 1.2rem 1.6rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(236, 236, 236);
}

.temp{
    font-size: 1.7rem;
    font-weight: 700;
}

#weather_Desc{
    font-size: 1rem;
}

@media(min-width:750px){
    .weeks{
        flex-direction: row;
    }

    .weeks::before{
        display: none;
    }

    #form {
        flex-direction: row;
    }


}