*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

body{
    width: 70%;
    margin: 4rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.6rem;
    background-color: rgba(240, 240, 240, 0.548);
}

.today{
    margin-bottom: 10rem;
}

.weeks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

#determine_day{
    margin-bottom: 5rem;
}

.cloudy{
    width: 10rem;
    height: 10rem;
    background-image: url(img/cloudy.png);
    background-repeat: no-repeat;
}

.rain{
    width: 10rem;
    height: 10rem;
    background-image: url(img/rain.png);
    background-repeat: no-repeat;
}

.overcast{
    width: 10rem;
    height: 10rem;
    background-image: url(img/overcastday.png);
    background-repeat: no-repeat;
}

.sunny{
    width: 10rem;
    height: 10rem;
    background-image: url(img/sunny.png);
    background-repeat: no-repeat;
}

.scattered{
    width: 10rem;
    height: 10rem;
    background-image: url(img/scatteredCloud.png);
    background-repeat: no-repeat;
}


/* #icon{
    display: flex;
    justify-content: center;
    align-items: center;
} */